body {
  color: white;
  font-family: sans-serif;
  background-color: #112739;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #112739;
  margin-bottom: 3rem;
}
#app h1 {
  font-family: "Neue Helvetica W02", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 200;
}
.file-input-form input {
  width: 13rem;
}
.image-roll {
  display: flex;
  background-color: black;
  justify-content: space-around;
  margin: 1rem;
  /* border: 1px solid grey; */
}
.image-roll > img {
  border: 2px solid lightgrey;
  height: 100px;
}
.image-roll > img:hover {
  cursor: pointer;
}
.image-viz-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.histogram-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}
canvas {
  display: none;
}
#histogram {
  display: inline-block;
  /* background-color: #696969; */
  width: 512px;
  height: 200px;
}
#histogram svg {
  transform: translate3d(0px, 0px, 0px);
}
#image-cont {
}
#image-cont img {
  /* max-width: max(50vw, 640px);
  max-height: max(50vh, 640px); */
  max-width: 50vw;
  max-height: 90vh;
  object-fit: contain;
}
#controls {
  display: flex;
  visibility: hidden !important;
  opacity: 0;
  margin-top: 1rem;
}

#controls.visible {
  visibility: visible !important;
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.axis .tick text {
  fill: #dddddd;
}
.axis .domain,
.axis .tick line {
  stroke: #dddddd;
}
.btn-group-toggle.blend {
  margin-left: 2rem;
}
.btn-group-toggle.blend label {
  width: 5rem;
}

label[for="redRadio"].active {
  background-color: var(--red) !important;
}
label[for="greenRadio"].active {
  background-color: var(--green) !important;
}
label[for="blueRadio"].active {
  background-color: var(--blue) !important;
}
label[for="rgbRadio"].active,
label[for="blend-histograms"].active {
  color: var(--dark) !important;
  background-color: var(--light) !important;
}
